<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova.plugin.info"
        version="0.7.0">

  <name>InfoDevice</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/info.js" target="js/info.js"/>

  <js-module src="www/info.js" name="info">
    <clobbers target="info" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Info">
        <param name="android-package" value="cordova.plugin.info.Info"/>
      </feature>
    </config-file>

    <source-file src="src/android/Info.java" target-dir="src/cordova/plugin/info/"/>
  </platform>
</plugin>