<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-android-info" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>InfoDevice</name>

    <description>InfoDevice Plugin</description>
    <license>Apache 2.0</license>
    <keywords>android, info</keywords>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="InfoDevice" src="www/InfoDevice.js">
        <clobbers target="InfoDevice" />
    </js-module>
    <!--Android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="InfoDevice">
                <param name="android-package" value="com.info.InfoDevice" />
            </feature>
        </config-file>

        <source-file src="src/android/InfoDevice.java" target-dir="src/com/info/android-info" />
    </platform>
    <!-- Windows uwp -->
    <platform name="windows">
        <js-module src="src/windows/InfoProxy.js" name="InfoProxy">
            <merges target="" />
        </js-module>
    </platform>
</plugin>